assets/amiibos.json filter=lfs diff=lfs merge=lfs -text
assets/images filter=lfs diff=lfs merge=lfs -text
assets/images/hammer_slam_bowser.png filter=lfs diff=lfs merge=lfs -text
assets/images/lucas.png filter=lfs diff=lfs merge=lfs -text
assets/images/little_mac.png filter=lfs diff=lfs merge=lfs -text
assets/images/lucina.png filter=lfs diff=lfs merge=lfs -text
assets/images/pit.png filter=lfs diff=lfs merge=lfs -text
assets/images/rover.png filter=lfs diff=lfs merge=lfs -text
assets/images/zero_suit_samus.png filter=lfs diff=lfs merge=lfs -text
assets/images/charizard.png filter=lfs diff=lfs merge=lfs -text
assets/images/ganondorf.png filter=lfs diff=lfs merge=lfs -text
assets/images/jigglypuff.png filter=lfs diff=lfs merge=lfs -text
assets/images/pikachu.png filter=lfs diff=lfs merge=lfs -text
assets/images/shulk.png filter=lfs diff=lfs merge=lfs -text
assets/images/yoshi.png filter=lfs diff=lfs merge=lfs -text
assets/images/chibi_robo.png filter=lfs diff=lfs merge=lfs -text
assets/images/ike.png filter=lfs diff=lfs merge=lfs -text
assets/images/mr_game_watch.png filter=lfs diff=lfs merge=lfs -text
assets/images/r_o_b_famicom_colors.png filter=lfs diff=lfs merge=lfs -text
assets/images/toad.png filter=lfs diff=lfs merge=lfs -text
assets/images/falco.png filter=lfs diff=lfs merge=lfs -text
assets/images/kappn.png filter=lfs diff=lfs merge=lfs -text
assets/images/marth.png filter=lfs diff=lfs merge=lfs -text
assets/images/sonic.png filter=lfs diff=lfs merge=lfs -text
assets/images/wario.png filter=lfs diff=lfs merge=lfs -text
assets/images/celeste.png filter=lfs diff=lfs merge=lfs -text
assets/images/light_blue_yarn_yoshi.png filter=lfs diff=lfs merge=lfs -text
assets/images/mii_swordfighter.png filter=lfs diff=lfs merge=lfs -text
assets/images/animal_crossing_new_leaf_welcome_amiibo_series.png filter=lfs diff=lfs merge=lfs -text
assets/images/boo.png filter=lfs diff=lfs merge=lfs -text
assets/images/peach.png filter=lfs diff=lfs merge=lfs -text
assets/images/mario_sports_superstars.png filter=lfs diff=lfs merge=lfs -text
assets/images/animal_crossing_cards_series_3.png filter=lfs diff=lfs merge=lfs -text
assets/images/dark_pit.png filter=lfs diff=lfs merge=lfs -text
assets/images/k_k.png filter=lfs diff=lfs merge=lfs -text
assets/images/waluigi.png filter=lfs diff=lfs merge=lfs -text
assets/images/zelda.png filter=lfs diff=lfs merge=lfs -text
assets/images/bowser_jr.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_archer.png filter=lfs diff=lfs merge=lfs -text
assets/images/shovel_knight.png filter=lfs diff=lfs merge=lfs -text
assets/images/pac_man.png filter=lfs diff=lfs merge=lfs -text
assets/images/bokoblin.png filter=lfs diff=lfs merge=lfs -text
assets/images/isabelle_summer_outfit.png filter=lfs diff=lfs merge=lfs -text
assets/images/diddy_kong.png filter=lfs diff=lfs merge=lfs -text
assets/images/kicks.png filter=lfs diff=lfs merge=lfs -text
assets/images/toon_link.png filter=lfs diff=lfs merge=lfs -text
assets/images/bowser.png filter=lfs diff=lfs merge=lfs -text
assets/images/daisy.png filter=lfs diff=lfs merge=lfs -text
assets/images/mii_brawler.png filter=lfs diff=lfs merge=lfs -text
assets/images/ness.png filter=lfs diff=lfs merge=lfs -text
assets/images/palutena.png filter=lfs diff=lfs merge=lfs -text
assets/images/r_o_b.png filter=lfs diff=lfs merge=lfs -text
assets/images/cyrus.png filter=lfs diff=lfs merge=lfs -text
assets/images/mario_gold_edition.png filter=lfs diff=lfs merge=lfs -text
assets/images/mewtwo.png filter=lfs diff=lfs merge=lfs -text
assets/images/pink_yarn_yoshi.png filter=lfs diff=lfs merge=lfs -text
assets/images/ryu.png filter=lfs diff=lfs merge=lfs -text
assets/images/timmy_tommy.png filter=lfs diff=lfs merge=lfs -text
assets/images/toon_link_the_wind_waker.png filter=lfs diff=lfs merge=lfs -text
assets/images/alm.png filter=lfs diff=lfs merge=lfs -text
assets/images/animal_crossing_cards_series_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_boy.png filter=lfs diff=lfs merge=lfs -text
assets/images/mii_gunner.png filter=lfs diff=lfs merge=lfs -text
assets/images/tom_nook.png filter=lfs diff=lfs merge=lfs -text
assets/images/animal_crossing_cards_series_4.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_the_legend_of_zelda.png filter=lfs diff=lfs merge=lfs -text
assets/images/mario.png filter=lfs diff=lfs merge=lfs -text
assets/images/resetti.png filter=lfs diff=lfs merge=lfs -text
assets/images/kirby.png filter=lfs diff=lfs merge=lfs -text
assets/images/rosalina.png filter=lfs diff=lfs merge=lfs -text
assets/images/30th_anniversary_mario_modern_color.png filter=lfs diff=lfs merge=lfs -text
assets/images/callie.png filter=lfs diff=lfs merge=lfs -text
assets/images/green_yarn_yoshi.png filter=lfs diff=lfs merge=lfs -text
assets/images/guardian.png filter=lfs diff=lfs merge=lfs -text
assets/images/link.png filter=lfs diff=lfs merge=lfs -text
assets/images/mario_silver_edition.png filter=lfs diff=lfs merge=lfs -text
assets/images/mega_man.png filter=lfs diff=lfs merge=lfs -text
assets/images/reese.png filter=lfs diff=lfs merge=lfs -text
assets/images/roy.png filter=lfs diff=lfs merge=lfs -text
assets/images/captain_falcon.png filter=lfs diff=lfs merge=lfs -text
assets/images/celica.png filter=lfs diff=lfs merge=lfs -text
assets/images/luigi.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_ocarina_of_time.png filter=lfs diff=lfs merge=lfs -text
assets/images/lottie.png filter=lfs diff=lfs merge=lfs -text
assets/images/wolf_link.png filter=lfs diff=lfs merge=lfs -text
assets/images/mabel.png filter=lfs diff=lfs merge=lfs -text
assets/images/zelda_the_wind_waker.png filter=lfs diff=lfs merge=lfs -text
assets/images/samus.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_rider.png filter=lfs diff=lfs merge=lfs -text
assets/images/meta_knight.png filter=lfs diff=lfs merge=lfs -text
assets/images/animal_crossing_cards_series_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/mega_yarn_yoshi.png filter=lfs diff=lfs merge=lfs -text
assets/images/lucario.png filter=lfs diff=lfs merge=lfs -text
assets/images/greninja.png filter=lfs diff=lfs merge=lfs -text
assets/images/king_dedede.png filter=lfs diff=lfs merge=lfs -text
assets/images/dr_mario.png filter=lfs diff=lfs merge=lfs -text
assets/images/mega_man_gold_edition.png filter=lfs diff=lfs merge=lfs -text
assets/images/30th_anniversary_mario_classic_color.png filter=lfs diff=lfs merge=lfs -text
assets/images/villager.png filter=lfs diff=lfs merge=lfs -text
assets/images/waddle_dee.png filter=lfs diff=lfs merge=lfs -text
assets/images/wii_fit_trainer.png filter=lfs diff=lfs merge=lfs -text
assets/images/blathers.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_girl.png filter=lfs diff=lfs merge=lfs -text
assets/images/turbo_charge_donkey_kong.png filter=lfs diff=lfs merge=lfs -text
assets/images/robin.png filter=lfs diff=lfs merge=lfs -text
assets/images/digby.png filter=lfs diff=lfs merge=lfs -text
assets/images/donkey_kong.png filter=lfs diff=lfs merge=lfs -text
assets/images/isabelle_winter_outfit.png filter=lfs diff=lfs merge=lfs -text
assets/images/olimar.png filter=lfs diff=lfs merge=lfs -text
assets/images/shadow_mewtwo.png filter=lfs diff=lfs merge=lfs -text
assets/images/duck_hunt.png filter=lfs diff=lfs merge=lfs -text
assets/images/fox.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_squid.png filter=lfs diff=lfs merge=lfs -text
assets/images/poochy.png filter=lfs diff=lfs merge=lfs -text
assets/images/sheik.png filter=lfs diff=lfs merge=lfs -text
server/docs/Amiibo[[:space:]]Collector[[:space:]]Data[[:space:]]Model.pdf filter=lfs diff=lfs merge=lfs -text
assets/images/donkey_kong_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/donkey_kong_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_girl_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/meta_knight_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/peach_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_majoras_mask.png filter=lfs diff=lfs merge=lfs -text
assets/images/rosalina_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/bowser_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/cloud.png filter=lfs diff=lfs merge=lfs -text
assets/images/cloud_player_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_squid_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/meta_knight_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/peach_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_boy_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/mario_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/yoshi_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/diddy_kong_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_boy_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_boy_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_squid_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/king_dedede_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_skyward_sword.png filter=lfs diff=lfs merge=lfs -text
assets/images/wario_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/zelda_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/zelda_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/corrin.png filter=lfs diff=lfs merge=lfs -text
assets/images/diddy_kong_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_girl_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_squid_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/link_twilight_princess.png filter=lfs diff=lfs merge=lfs -text
assets/images/luigi_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/yoshi_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/bayonetta.png filter=lfs diff=lfs merge=lfs -text
assets/images/corrin_player_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/king_dedede_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/kirby_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/luigi_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/marie.png filter=lfs diff=lfs merge=lfs -text
assets/images/pikmin.png filter=lfs diff=lfs merge=lfs -text
assets/images/wario_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/bayonetta_player_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/bowser_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/inkling_girl_2.png filter=lfs diff=lfs merge=lfs -text
assets/images/kirby_0.png filter=lfs diff=lfs merge=lfs -text
assets/images/mario_1.png filter=lfs diff=lfs merge=lfs -text
assets/images/rosalina_0.png filter=lfs diff=lfs merge=lfs -text
